html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg path {
  stroke-width: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-black focus:ring-black;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply border-gray-300 rounded text-black focus:ring-black;
  }
  a,
  input,
  textarea,
  select,
  button {
    @apply text-black focus:border-black focus:ring-black focus:outline-accent rounded-sm;
  }
}

label {
  @apply flex items-center;
}

input[type='checkbox'] {
  @apply w-5 h-5 accent-accent;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text-luxury {
  @apply text-gradient bg-gradient-to-tr via-black to-primary-600 from-primary-400;
}
.text-luxury-white {
  @apply text-gradient bg-gradient-to-tr via-white to-primary-300 from-white;
}
.bg-luxury {
  @apply bg-gradient-to-tr via-primary-500 to-primary-600 from-primary-400 hover:bg-primary-600 transition-all text-white;
}
